.wrapper{
  margin: 0 auto;
  width: 1250px;
}

.baner{
  display: flex;
  flex-direction: row;
}

p {
  font-size: 24px;
}

.wrapper img{
  width: 250px;
  height: 250px;
}

.deth{
  text-decoration: line-through;
}

.fear{
  font-family: 'Amatic SC', cursive;
}

.cards {
  display: flex;
}

.card {
  margin: 0 auto;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  background-color: orange;
  /*border: solid 2px yellow;*/
  border-radius: 5px;
}

.card:hover{
  color: black;
  font-family: 'Neucha', cursive;
}

.card:nth-child(2){
  margin-left: 90px;
  margin-right: 90px;
}
